<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/_shared/head}"/>
<body>
<div class="container-fluid">
    <th:block th:include="~{/_shared/navbar}"/>

    <main>
        <div class="container mb-4 mt-4">
            <h1 class="mb-5">Spread a new Virus!</h1>

            <form th:action="@{/viruses/add}" th:method="post" th:object="${virusFormViewModel}">
                <div class="form-group nameInput">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}">
                    <small th:if="${#fields.errors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="form-group descriptionInput">
                    <label for="descriptionInput">Description</label>
                    <input type="text" class="form-control" id="descriptionInput" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" th:field="*{description}">
                    <small th:if="${#fields.errors('description')}" th:errors="*{description}"></small>
                </div>
                <div class="form-group sideEffectsInput">
                    <label for="sideEffectsInput">Side Effects</label>
                    <input type="number" class="form-control" id="sideEffectsInput" th:classappend="${#fields.hasErrors('sideEffects')} ? 'is-invalid'" th:field="*{sideEffects}">
                    <small th:if="${#fields.errors('sideEffects')}" th:errors="*{sideEffects}"></small>
                </div>
                <div class="form-group mb-3 creatorInput">
                    <label for="creatorInput">Creator</label>
                    <input type="text" class="form-control" id="creatorInput" th:classappend="${#fields.hasErrors('creator')} ? 'is-invalid'" th:field="*{creator}">
                    <small th:if="${#fields.errors('creator')}" th:errors="*{creator}"></small>
                </div>
                <div class="form-group form-check isDeadlyInput">
                    <input type="checkbox" class="form-check-input" id="isDeadlyInput">
                    <label class="form-check-label" for="isDeadlyInput">is Deadly?</label>
                </div>
                <div class="form-group form-check mb-3 isCurableInput">
                    <input type="checkbox" class="form-check-input" id="isCurableInput">
                    <label class="form-check-label" for="isCurableInput">is Curable?</label>
                </div>
                <th:block th:each="value,iter : ${T(app.data.models.Mutation).values()}">
                    <div class="form-group form-check mt-3 mutationInput">
                        <input class="form-check-input" type="radio" name="mutation" th:id="mutation + ${iter.index}" value="value" th:checked="${iter.index == 0 ? 'true' : 'false'}">
                        <label class="form-check-label" th:for="mutation + ${iter.index}">
                            [[${value}]]
                        </label>
                    </div>
                </th:block>
                <div class="form-group form-check mb-3 mutationInput">
                    <input class="form-check-input" type="radio" name="mutation" id="mutation4" value="SAVE_HUMANITY" disabled>
                    <label class="form-check-label" for="mutation4">
                        SAVE_HUMANITY
                    </label>
                </div>
                <div class="form-group mt-3 turnOverRateInput">
                    <label for="turnOverRateInput">Turn Over Rate</label>
                    <input type="number" class="form-control" id="turnOverRateInput" th:classappend="${#fields.hasErrors('turnOverRate')} ? 'is-invalid'" th:field="*{turnOverRate}">
                    <small th:if="${#fields.errors('turnOverRate')}" th:errors="*{turnOverRate}"></small>
                </div>
                <div class="form-group hoursUntilTurnInput">
                    <label for="hoursUntilTurnInput">Hours until turn</label>
                    <input type="number" class="form-control" id="hoursUntilTurnInput" th:classappend="${#fields.hasErrors('hoursUntilTurn')} ? 'is-invalid'" th:field="*{hoursUntilTurn}">
                    <small th:if="${#fields.errors('hoursUntilTurn')}" th:errors="*{hoursUntilTurn}"></small>
                </div>
                <div class="form-group magnitudeInput">
                    <label for="magnitudeInput">Magnitude</label>
                    <select id="magnitudeInput" class="form-control">
                        <option selected value="Low">LOW</option>
                        <option value="Medium">MEDIUM</option>
                        <option value="High">HIGH</option>
                    </select>
                </div>
                <div class="form-group releasedOnInput">
                    <label for="releasedOnInput">Released On</label>
                    <input type="date" class="form-control" id="releasedOnInput" th:classappend="${#fields.hasErrors('releasedOn')} ? 'is-invalid'" th:field="*{releasedOn}">
                    <small th:if="${#fields.errors('releasedOn')}" th:errors="*{releasedOn}"></small>
                </div>
                <div class="form-group capitalsInput">
                    <label for="capitalsInput">Example multiple select</label>
                    <select multiple class="form-control" id="capitalsInput">
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                </div>

                <button type="submit" class="btn mt-3 re-background">Submit</button>
            </form>

        </div>
    </main>
</div>
</body>
</html>