<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head.html"/>
<body>
<section>
    <div id="roof">
        <img th:src="@{/img/roof.png}">
    </div>
    <div id="building"></div>
    <div id="offerManager">
        <div id="regOffer">
            <form th:action="@{/offers/find}" method="post">
                <h2>Find offer</h2>
                <input type="number" name="familyBudget" placeholder="Family budget....">
                <input type="text" name="familyApartmentType" placeholder="Apartment type...">
                <input type="text" name="familyName" placeholder="Family name...">
                <button name="findOffer" class="button">Find offer</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>