<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/head}"/>
<body>
<section>
    <div id="roof">
        <img th:src="@{/img/roof.png}">
    </div>
    <div id="building">
        <th:block th:if="${offers.size() == 0}">
            <div id="notifications">
                <p id="message">There aren't any offers!</p>
            </div>
        </th:block>
        <th:block th:each="offer : ${offers}">
            <div class="apartment">
                <p>Rent: [[${offer.apartmentRent}]]</p>
                <p>Type: [[${offer.apartmentType}]]</p>
                <p>Commission: [[${offer.agencyCommission}]]</p>
            </div>
        </th:block>
    </div>
    <div id="offerManager">
        <div id="regOffer">
            <a th:href="@{/offers/register}" class="button">Reg Offer</a>
        </div>
        <div id="findOffer">
            <a th:href="@{/offers/find}" class="button">Find Offer</a>
        </div>
    </div>
</section>
</body>
</html>