<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{/fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}" />
<main class="container">
    <h1 class="text-center">Create Item</h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-100 bg-blur" th:action="@{/item/create}" th:method="post" th:object="${itemCreateBindingModel}">
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input type="text" class="form-control mx-auto w-50" id="name" name="name" th:field="*{name}" />
        </div>
        <div class="form-group">
            <div class="row flex-md-row">
                <div class="col col-sm-1"></div>
                <div class="ml-lg-5">
                    <img th:src="@{/img/weapon.jpg}" class="border border-secondary" alt="weapon" width="110"
                         height="100"/>
                </div>
                <div class="ml-lg-5">
                    <img th:src="@{/img/helmet.jpg}" class="border border-secondary" alt="helmet" width="110"
                         height="100"/>
                </div>
                <div class="ml-lg-5">
                    <img th:src="@{/img/pauldron.jpg}" class="border border-secondary" alt="pauldron" width="110"
                         height="100"/>
                </div>
                <div class="ml-lg-5">
                    <img th:src="@{/img/pads.jpg}" class="border border-secondary" alt="legs" width="110" height="100"/>
                </div>
                <div class="ml-lg-5">
                    <img th:src="@{/img/gauntlets.jpg}" class="border border-secondary" alt="gauntlet" width="110"
                         height="100"/>
                </div>
            </div>
            <div class="row flex-md-row">
                <div class="col col-sm-2"></div>
                <th:block th:each="slot : ${T(app.data.models.Slot).values()}">
                    <div class="list-inline">
                        <div class="col col-md-6 ml-4">
                            <h5 class="text-white" th:text="${slot.toString()}"></h5>
                            <label>
                                <input type="radio" class="ml-lg-5" th:value="${slot.toString()}" name="slot">
                            </label>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="row flex-md-row">
                <div class="col col-md-3">
                    <label for="stamina" class="text-white">Stamina</label>
                    <input type="number" id="stamina" class="w-25" name="stamina" placeholder="0" min="0" max="100" th:field="*{stamina}">
                </div>
                <div class="col col-md-3">
                    <label for="strength" class="text-white">Strength</label>
                    <input type="number" id="strength" class="w-25" name="strength" placeholder="0" min="0" max="100" th:field="*{strength}">
                </div>
                <div class="col col-md-3">
                    <label for="attack" class="text-white">Attack</label>
                    <input type="number" id="attack" class="w-25" name="attack" placeholder="0" min="0" max="100" th:field="*{attack}">
                </div>
                <div class="col col-md-3">
                    <label for="defense" class="text-white">Defense</label>
                    <input type="number" id="defense" class="w-25" name="defense" placeholder="0" min="0" max="100" th:field="*{defense}">
                </div>
            </div>
        </div>
        <th:block th:if="${#fields.hasErrors()}">
            <th:block th:each="error : ${#fields.errors()}">
                <h4 style="color: red" th:text="${error}"></h4>
            </th:block>
        </th:block>
        <div class="button-holder d-flex justify-content-center mt-4">
            <button class="btn btn-secondary text-white mb-3" type="submit">Create Item</button>
        </div>
    </form>
</main>
<th:block th:include="~{/fragments/footer}"/>
</body>
</html>