<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{/fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <table class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Slot</th>
            <th scope="col">Stamina</th>
            <th scope="col">Strength</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="item : ${items}">

            <tr>
                <td th:text="*{item.name}"></td>
                <td th:text="*{item.slot.toString()}"></td>
                <td th:text="*{item.stamina}"></td>
                <td th:text="*{item.strength}"></td>
                <td th:text="*{item.attack}"></td>
                <td th:text="*{item.defense}"></td>
                <td>
                    <form th:action="@{'/item/merchant/' + ${item.name}}" th:method="post">
                        <button class="btn btn-info" th:disabled="${item.owned}">Buy</button>
                    </form>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
</main>
<th:block th:include="~{/fragments/footer}"/>
</body>
</html>